@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

* {
  box-sizing: border-box;
}

body {
  background-image: url('background.png');
  background-size: cover;
  min-height: 100vh;
  color: white;
  font-family: 'Work Sans', sans-serif;
  padding: 20px;
}

.blueBox {
  position: relative;
  background-color: #2D00FF;
  max-width: 780px;
  min-height: 600px;
  margin: 5em auto;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
  padding: 2em;
  text-align: center;
}

img.logo {
  display: block;
  margin: 6em auto 0;
}

h1 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 0;
  letter-spacing: 0.6px;
}

p {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 8em;
  line-height: 20px;
}

p a {
  color: white;
  text-decoration: none;
}

img.ticker {
  position: absolute;
  left: -5%;
}

img.header {
  top: 0;
}
img.footer {
  bottom: 0;
}
